body{
    background-color: lightgray;
}
.caja{
    background-color: chocolate;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 5px;
}
.contenedor{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}