body{
    background-color: lightgray;
    font-family: Arial, sans-serif;
}
h1{
    color:blue;
    text-align: center;
}
h2{
    color:red
}
h3{
    color:yellow
}
h4{
    color:green
}
h5{
    color:orange
}
h6{
    color:purple
}
p{
    color: black;
    font-size: 24px;
}
@media(max-width: 600px){
    body{
        background-color: orange;
    }
    h1{
        font-size: 12px;
    }
}